/*allgemein*/
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: grey;

}
#menu a:hover
{
    background-image: url(../images/piawhite.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*startseite*/
.home {
  background: url(../images/baum.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.startseite {
  width: 100%;
  height: 100%;
}

.n {
  font-family: Oranienbaum, serif;
  font-size: 130px;
/*color: rgba(0, 168, 255, 0.5);
  text-shadow: 5px 5px 0 rgba(255, 0, 180, 0.5);*/
  color: black;
  opacity: 1.0;
  text-align: center;
  margin-left: 48%;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
/*color: white;
  top: 42%;*/

  }

.n:hover {
  opacity: 1.0;
  color: #E3E3E3;
  border: 1px;
}

.body2 {
  background-color: white;
  margin: 0;
  padding: 0;
}

/*einzelne seiten*/
.loona {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background: url(../images/loona.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.loona:hover {
  background:url(../images/loonawhite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.linkloona {
  position: absolute;
  height: 500px;
  width: 500px;
  right: 10%;
  top: 23%;
  background-color: transparent;
}

.pia {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background: url(../images/pia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pia:hover {
  background:url(../images/girlswhite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bundeswehr {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background: url(../images/bundeswehr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bundeswehr:hover {
background:url(../images/bundeswehrwhite.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.berlin {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background: url(../images/berlin2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.berlin:hover {
background:url(../images/berlin2white.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.aboutme {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  background: url(../images/aboutme.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.referenzen {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  background: url(../images/eye.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.video {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
}

  /*alle seiten*/


.wrapper {
  width: 50%;
  height: 99%;
  border: 0px;
	padding: 0px;
  position: absolute;
  right: auto;
  top: 0;
  }


  .wrapperright {
    width: 50%;
    height: 99%;
    border: 0px;
  	padding: 0px;
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    }


 .subtitlelinks{
  width: 300px;
 	height: 200px;
	margin: 0 auto;
  font-size: 12px;
  color: grey;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pfeile{
 width: 80px;
 height: 30px;
 margin: 0 auto;
 font-size: 11px;
 color: grey;
 position: relative;
 top: 70%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
}

.next3 {
  margin-right: 0;
  margin-left: auto;
}

.next4 {
  margin-right: 0;
  margin-left: auto;
  visibility: hidden;
}


.bevore3 {
  margin-right: auto;
  margin-left: 0px;
}

.bevore4 {
  margin-right: 0;
  margin-left: auto;
  visibility: hidden;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: black;
  letter-spacing: 5.0;
  margin-left: auto;
  margin-right: auto;
}

#socialbookmarksanzeigen {
  background-color: green;
  padding: 0.4em;
}

#sozialbookmarks a{
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  text-decoration: none;
  line-height: 0.9;
}

#sozialbookmarks {
  font-family: Helvetica, Arial, sans-serif;
  background-color: transparent;
  display: none;
  width: 150px;
  height: 120px;
  text-align: right;
  position: absolute;
  left: 39%;
  top: 25%;
  font-size: 15px;
}

/* Unterseiten */

#wehr1 {
  left: 20%;
  right: auto;
  top: 10%;
  bottom: auto;
  width: 250px;
  height: auto;
  position: absolute;
}

#wehr2 {
  left: 49%;
  right: auto;
  top: 10%;
  bottom: auto;
  width: 250px;
  height: auto;
  position: absolute;
}

#wehr3 {
  left: 20%;
  right: auto;
  top: 30%;
  bottom: auto;
  width: 250px;
  height: auto;
  position: absolute;
}

#wehr4 {
  left: 49%;
  right: auto;
  top: 30%;
  bottom: auto;
  width: 250px;
  height: auto;
  position: absolute;
}

#wehr5 {
  left: 20%;
  right: auto;
  top: 50%;
  bottom: auto;
  width: 250px;
  height: auto;
  position: absolute;
}

#wehr6 {
  left: 49%;
  right: auto;
  top: 50%;
  bottom: auto;
  width: 250px;
  height: auto;
  position: absolute;
}

#wehr7 {
  left: 20%;
  right: auto;
  top: 70%;
  bottom: auto;
  width: 250px;
  height: auto;
  position: absolute;
}

#wehr8 {
  left: 49%;
  right: auto;
  top: 70%;
  bottom: auto;
  width: 250px;
  height: auto;
  position: absolute;
}


.loonagalerie {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background: url(../images/loonawhite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.girlsgalerie {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background: url(../images/girlswhite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bundeswehrgalerie {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background: url(../images/bundeswehrwhite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.berlingalerie {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background: url(../images/berlin2white.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*reste

.body3 {
  background-color: grey;
}





*/
